@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", "ui-sans-serif", "system-ui", "sans-serif";
  --color-brand-black: #000;
  --color-brand-orange: #FF5A00;
  --color-brand-orange-hover: #e55303;

  --breakpoint-xs: 0px;
  --breakpoint-s: 320px;
  --breakpoint-m: 375px;
  --breakpoint-l: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* @utility no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility layout-padding {
  @apply sm:px-4 md:px-16;
}
